*{
    margin:0;
    padding: 0;
}
.container-flex{
    background-color: #C38C62;
    display: flex;
    justify-content: space-between;
    color: aliceblue;
    position: sticky;
    top: 0%;
    
}
.left-side{
    display: flex;
    justify-content: center;
     margin-left: 35px; 
    align-items: center;

}
.l1{
    /* background-color: darkcyan; */
    /* margin: 10px; */

}
.right-side{
    display: flex;
    margin: 20px;
}
.item {
   
    margin-left: 10px;
    align-items: center;
    justify-items: center;
}
.s1:hover {

    color:#ea962b;
   
    
}
.msg{
    height: 30px;
    width: 20px;
    border-radius: 70px;
}
.call{
    height: 20px;
    width: 20px;
    border-radius: 70px;
}
.contaner-flex2{
    display: flex;
    color: aliceblue;
    background-color: #212529;
    justify-content: space-between;
}
.item2{
    margin: 10px;
}
.right{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}
.left{
    margin-left: 30px;
    background-color: #212529;
}
.container-body1{
    padding: 50px;
    padding-top: 100px;
    background-color:#212529 ;
    color: white;
}
h1{
    font-size: 60px;
}
.img-part{
    display: flex;
}
.img{
    margin: 30px;
    margin-top: 40px;
}
.one{
    display: flex;
    color: #6c757d!important;
    padding: 30px;
    justify-content: center;
    align-items: center;
}
.two{
    padding: 20px;
    display: flex;
    justify-content: center;
}
.three{
    padding: 50px;
    padding-top: 15px;
}
.para{
    font-size: 16px;
    font-weight: normal;
}
.photo{
    height: 200px;
    width: 400px;
}
.btn{
    display: flex;
    align-items: center;
    justify-content: center;
   
}
button{
    padding: 10px;
    border-radius: 2px;
    border: none;
}
.btn1 {
    background-color: rgb(30, 4, 54);
    color: aliceblue;
}
.btn1:hover{
    background-color: #6c757d;
}
.container-body3{
    padding-top: 60px;
    background-color: #efefef;
    display: flex;
    padding-bottom: 70px;
}
/* .img2.in{
    height: 100px;
    width: 100px;
} */
.img2{
    margin-left: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.container-footer{
    background-color: #212529;
    color: azure;
    display: flex;
    padding-left: 60px;
    padding-top: 20px;
    /* justify-content: space-around; */
    padding-bottom: 90px;
    flex-wrap: wrap;
}
h5{
    font-weight: lighter;
    margin: 2%;
}
.part1{
    margin-left: 60px;
}
.copy-right{
    margin-left: 50px;
    margin-top: 110px;
}
a:hover{
    color:  blue;
}
a{
    color: #C38C62;
}